@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
.App {
  text-align: center;
}
body {
  font-family: "Open Sans", sans-serif;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.quantity-box {
  padding: 0.3rem;
  font-size: 1.3rem;
  width: 3vh;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dbdbbd;
  margin-right: 0.3rem;
  cursor: pointer;
}

/* cartPage */
.cart-empty {
  width: 25%;
  margin: 2rem 0;
}
.cart-empty-parent {
  height: 70vh;
}
.logo-img {
  width: 40%;
}

@media (max-width: 600px) {
  .MuiMenuItem-root {
    height: 8vh;
  }
}
@media (max-width: 768px) {
  .logo-parent {
    display: flex;
  }
  .logo-img {
    width: 70%;
  }
  .deskCart {
    display: none;
  }
  .strip {
    padding: 1rem 0 !important;
  }
  #filter {
    display: none;
  }
  #filter-right {
    border-left: 1px solid transparent !important;
  }
  #specific-product {
    width: 100% !important;
  }
  .MuiPagination-ul {
    flex-wrap: nowrap !important;
  }
}
